input{
    font-family: Arial, serif;
    font-size: 1.0rem;
    font-weight: 700;
}

button{
    font-family: Arial, serif;
    font-size: 1.0rem;
    font-weight: 700;
}

.RestartButton{

    position: absolute;
    top: 90%;
    right: 10%;
    width: 14%;
    height: 5%;
    background-color: #db9b71;
}

.RestartButton:hover{
    background-color: #eab9a4;
}

.DropAndShowButton{
    position: absolute;

    top: 60%;
    right: 10%;
    width: 14%;
    height: 5%;
    background-color: #ddb56f;
}

.DropAndShowButton:hover{
    background-color: #e5cba5;
}

.DropButton{
    position: absolute;
    top: 75%;
    right: 14%;
    width: 6%;
    height: 5%;
    background-color: #e8d37c;
}

.DropButton:hover{
    background-color: #fff0b0;
}

.BackMoveButton{
    position: absolute;
    top: 69.4%;
    right: 14%;
    width: 6%;
    height: 5%;
    background-color: #e8d37c;
}

.BackMoveButton:hover{
    background-color: #fff0b0;
}

.ForwardMoveButton{
    position: absolute;
    top: 80.6%;
    right: 14%;
    width: 6%;
    height: 5%;
    background-color: #e8d37c;
}

.ForwardMoveButton:hover{
    background-color: #fff0b0;
}

.LeftMoveButton{
    position: absolute;
    top: 75%;
    right: 20.4%;
    width: 6%;
    height: 5%;
    background-color: #e8d37c;
}

.LeftMoveButton:hover{
    background-color: #fff0b0;
}

.RightMoveButton{
    position: absolute;
    top: 75%;
    right: 7.6%;
    width: 6%;
    height: 5%;
    background-color: #e8d37c;
}

.RightMoveButton:hover{
    background-color: #fff0b0;
}

.TransparentButton{
    position: absolute;
    top: 5%;
    right: 0;
    width: 10%;
    height: 5%;
}

.RightRotationButton{
    position: absolute;
    top: 69.4%;
    right: 7.6%;
    width: 6%;
    height: 5%;
    background-color: #e8d37c;
}

.RightRotationButton:hover{
    background-color: #fff0b0;
}

.LeftRotationButton{
    position: absolute;
    top: 69.4%;
    right: 20.4%;
    width: 6%;
    height: 5%;
    background-color: #e8d37c;
}

.LeftRotationButton:hover{
    background-color: #fff0b0;
}

.degree01Button{
    position: absolute;

    top: 57%;
    right: 1%;
    width: 4%;
    height: 5%;
    background-color: #b7ac76;
}

.degree01Button:hover{
    background-color: #d6cda5;
}

.degree05Button{
    position: absolute;

    top: 63%;
    right: 1%;
    width: 4%;
    height: 5%;
    background-color: #b7ac76;
}

.degree05Button:hover{
    background-color: #d6cda5;
}

.degree1Button{
    position: absolute;

    top: 69%;
    right: 1%;
    width: 4%;
    height: 5%;
    background-color: #b7ac76;
}

.degree1Button:hover{
    background-color: #d6cda5;
}

.degree2Button{
    position: absolute;

    top: 75%;
    right: 1%;
    width: 4%;
    height: 5%;
    background-color: #b7ac76;
}

.degree2Button:hover{
    background-color: #d6cda5;
}

.degree5Button{
    position: absolute;

    top: 81%;
    right: 1%;
    width: 4%;
    height: 5%;
    background-color: #b7ac76;
}

.degree5Button:hover{
    background-color: #d6cda5;
}

.degree10Button{
    position: absolute;

    top: 87%;
    right: 1%;
    width: 4%;
    height: 5%;
    background-color: #b7ac76;
}

.degree10Button:hover{
    background-color: #d6cda5;
}

input:hover{
    background-color: #cbcbcb;

}

.info{
    position: absolute;
    margin-top: 6px;
}
.Z{
    background-color: #bdc667;
    margin-right: 4px;
}
.X{
    background-color: #bdc667;
    margin-right: 4px;
    margin-left: 6px;
}
.Angle{
    background-color: #bdc667;

}

.Toggle.react-toggle--checked .react-toggle-track {
    background-color: #999999;
    color: #e8d37c;

}

.Toggle.react-toggle--unchecked .react-toggle-track {
    background-color: #424242;
    color: #a19979;

}

.Toggle.react-toggle--hover .react-toggle-track {
    background-color: #999999;
    color: #999999;

}




