input{
    font-family: Arial, serif;
    font-size: 1.0rem;
    font-weight: 700;
}

button{
    font-family: Arial, serif;
    font-size: 1.0rem;
    font-weight: 700;
}

.RestartButton{

    position: absolute;
    top: 90%;
    right: 10%;
    width: 14%;
    height: 5%;
}

.DropAndShowButton{
    position: absolute;

    top: 60%;
    right: 10%;
    width: 14%;
    height: 5%;
}

.DropAndShowButton:hover{
    background-color: #e5cba5;
}

.DropButton{
    position: absolute;
    top: 75%;
    right: 14%;
    width: 6%;
    height: 5%;
}

.BackMoveButton{
    position: absolute;
    top: 69.4%;
    right: 14%;
    width: 6%;
    height: 5%;
}

.ForwardMoveButton{
    position: absolute;
    top: 80.6%;
    right: 14%;
    width: 6%;
    height: 5%;
}

.LeftMoveButton{
    position: absolute;
    top: 75%;
    right: 20.4%;
    width: 6%;
    height: 5%;
}
.RightMoveButton{
    position: absolute;
    top: 75%;
    right: 7.6%;
    width: 6%;
    height: 5%;
}

.TransparentButton{
    position: absolute;
    top: 5%;
    right: 0;
    width: 10%;
    height: 5%;
}

.RightRotationButton{
    position: absolute;
    top: 69.4%;
    right: 7.6%;
    width: 6%;
    height: 5%;
}

.LeftRotationButton{
    position: absolute;
    top: 69.4%;
    right: 20.4%;
    width: 6%;
    height: 5%;
}

.rotationButton{
    background-size: 100% 100%;
    position: absolute;
    width: 100px;
    height: 100px;
    right: 6%;
    bottom: 4%;
    /*border: none;*/
}

.degree01Button{
    position: absolute;

    top: 60%;
    right: 1%;
    width: 4%;
    height: 5%;
}

.degree05Button{
    position: absolute;

    top: 65%;
    right: 1%;
    width: 4%;
    height: 5%;
}

.degree1Button{
    position: absolute;

    top: 70%;
    right: 1%;
    width: 4%;
    height: 5%;
}

.degree2Button{
    position: absolute;

    top: 75%;
    right: 1%;
    width: 4%;
    height: 5%;
}

.degree5Button{
    position: absolute;

    top: 80%;
    right: 1%;
    width: 4%;
    height: 5%;
}

.degree10Button{
    position: absolute;

    top: 85%;
    right: 1%;
    width: 4%;
    height: 5%;
}

input:hover{
    background-color: #cbcbcb;

}

.info{
    position: absolute;
    margin-top: 6px;
}
.Z{
    background-color: #bdc667;
    margin-right: 4px;
}
.X{
    background-color: #bdc667;
    margin-right: 4px;
    margin-left: 6px;
}
.Angle{
    background-color: #bdc667;

}

.Toggle.react-toggle--checked .react-toggle-track {
    background-color: #999999;
    color: #e8d37c;

}

.Toggle.react-toggle--unchecked .react-toggle-track {
    background-color: #424242;
    color: #a19979;

}

.Toggle.react-toggle--hover .react-toggle-track {
    background-color: #999999;
    color: #999999;

}




