@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* prettier-ignore */
:root {
  --main-color:           #459999;
  --main-color_dark:      #0f3f49;

  --text-color:           #8D8161;
  --text-color_dark:      #222222;

  --card-color:           #064789;
  --card-color_dark:      #63d471;

  --border-color:         #8D8161;
  --border-color_dark:    #525252;
  --boder-color_contrast: #222222;
  --modal-background:     rgba(0, 0, 0, 0.6);

  --width:                  1320px;
  --border-radius:          10px;

  --card-width:             120px;
  --card-height:            180px;
  --card-gap:               30px;

  --scroll-size:            10px;
  --scroll-radius:          10px;

  --font-size:              18px;


  --error-color:            #bc2727;
  --warning-color:          #d96200;
  --info-color:             #006faa;
  --success-color:          #2b742e;
}

#__next {
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  font-size: var(--font-size);
  font-family: "Montserrat", sans-serif;
}

.kio-base-box,
.kio-base-controls-container {
  background: var(--main-color);
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  height: calc(100% - 50px);
  padding-bottom: 20px;

  overscroll-behavior: contain;
  --scroll-thumb: linear-gradient(45deg, var(--card-color), #80b6de);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
