.page-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 760px;
    overflow: hidden;
    gap: 40px;
    background: #B3B3B3;
}

.bicycle-left{
    border: 5px solid #66FFCC;
    border-radius: 10px;
    height: 91%;
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding-top: 2%;
}

.bicycle-left-2 {
    border: 5px solid #66FFCC;
    border-radius: 10px;
    height: 97%;
    width: 55%;
    display: flex;
    flex-direction: column;
    /* padding-left: 30px; */
    margin-left: 30px;
    gap: 100px;
}

.left-speedometer {
    width: 161px;
    height: 190px;
    top: 3%;
    left: 17%;
}

.left-speedometer-2 {
    width: 178px;
    height: 221px;
    margin: 50px 0 0 60px;

}

.center {
    height: 95%;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

.center-2 {
    border: 5px solid #8EED00;
    background: #B3B3B3;
    border-radius: 10px;
    position: absolute;
    top: 47px;
    height: 35%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
    padding-bottom: 1.5%;
}

.exercise-right {
    border: 5px solid #FFFF00;
    border-radius: 10px;
    height: 95%;
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.exercise-right-2 {
    border: 5px solid #FFFF00;
    border-radius: 10px;
    height: 95%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 140px;
    padding-bottom: 1%;
    align-items: flex-end;
    padding-right: 30px;
}

.right-speedometer {
    width: 156px;
    height: 190px;
    top: 2%;
    right: 15%;
}

.right-speedometer-2 {
    width: 178px;
    height: 221px;
    margin: 50px 60px 0 0;
}

.v-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 258px;
}

.bicycle-image {
    background: url(./bike-resources/bike_test.svg);
    width: 100%;
    scale: 1;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
}

.f-graphic{
    width: 505px;
    height: 305px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.8;
}

.f-f-label {
    position: absolute;
    top: 10%;
    right: 52%;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;

    display: flex;
    gap: 8px;
    align-items: flex-end;
    width: 40%;
}

.f-t-label {
    position: absolute;
    top: 83%;
    right: 3%;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;

    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.b-container{
    scale: 0.8;
    height: 100%;
    width: 440px;
    position: absolute;
    background: url(./bike-resources/BikeModel.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 216px;
    left: -19px;
}

.b-container-2{
    height: 100%;
    width: 500px;
    position: absolute;
    background: url(./bike-resources/BikeModel.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 559px;
    right: 21px;
    transform: rotateY(180deg);
}

.bike-handlebar{
    height: 100%;
    width: 450px;
    position: absolute;
    background: url(./bike-resources/BikeHandlebar.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: -22px;
    scale: 0.8;
    left: -18px;
}

.bike-handlebar-2{
    height: 100%;
    width: 389px;
    position: absolute;
    /*background: url(./bike-resources/bike_test.svg);*/
    background-size: contain;
    background-repeat: no-repeat;
    top: 416px;
    left: 26px;

}

.ex-bike-handlebar{
    height: 40%;
    width: 250px;
    position: absolute;
    /*background: url(./bike-resources/bike_test.svg);*/
    background-size: contain;
    background-repeat: no-repeat;
    top: 30px;
    right: 238px;
    scale: 0.75;
}

.ex-bike-handlebar-2 {
    height: 40%;
    width: 250px;
    position: absolute;
    /*background: url(./bike-resources/ExBikeHandlebar.svg);*/
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 132px;
    right: 78px;
}

.e-container {
    height: 40%;
    width: 250px;
    position: absolute;
    background: url(./bike-resources/ExBikeModel.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 183px;
    right: 140px;
}

.e-container-2 {
    height: 40%;
    width: 240px;
    position: absolute;
    background: url(./bike-resources/ExBikeModel.svg);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 26px;
    right: 310px;
    transform: rotateY(180deg);
}

.center-box{
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.center-box-table{
    width: 100%;
    height: 60%;
    /* padding: 12px; */
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    /* background: red; */
    justify-content: center;
}

.center-box-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;

    text-align: left;
    width: 100%;

}

.task-description{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.task-description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #999999;
    border-radius: 10px;
    background-color: #999999;
}
.task-description::-webkit-scrollbar {
    width: 8px;
    background-color: #999999;
    border-radius: 10px;
}
.task-description::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #999999;
    background-color: #E6E6E6;
}

.check-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 80%;
    height: 15%;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 20px;
    text-align: center;
    color: #E6E6E6;
    background: #68AE00;

}

.check-button:active {
    color: #666666;
    background: #ffffff;
}

.check-button-2 {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: 50%;
    height: 15%;
    border-radius: 10px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 20px;
    text-align: center;

    color: #E6E6E6;
    background: #68AE00;

}

.check-button-2:active {
    color: #666666;
    background: #ffffff;
}

.left-speedometer-handlebar {
    position: absolute;
    width: 100px;
    height: 125px;
    top: 104px;
    left: 155px;
}

.left-speedometer-handlebar-2 {
    position: absolute;
    width: 100px;
    height: 125px;
    top: 477px;
    left: 170px;
    scale: 1.2;
}

.right-speedometer-handlebar{
    position: absolute;
    width: 100px;
    height: 125px;
    top: 91px;
    right: 303px;
}

.right-speedometer-handlebar-2{
    position: absolute;
    width: 100px;
    height: 125px;
    bottom: 324px;
    right: 156px;
    scale: 1.2;
}

.bike-module {
    background: url(./bike-resources/bike_module.svg);
    width: 386px;
    scale: 1;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
}

.e-bike-module {
    background: url(./bike-resources/e-bike-module.svg);
    width: 386px;
    scale: 1;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
}

.bike-module-2 {
    background: url(./bike-resources/bike_module-2.svg);
    width: 95%;
    scale: 1;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.e-bike-module-2 {
    background: url(./bike-resources/e-bike-module-2.svg);
    width: 95%;
    scale: 1;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}