.wrapper {
  position: relative;
  transition: box-shadow 0.1s linear;
  border-radius: calc(var(--border-radius) + 2px);
  height: calc(var(--cell-length) * var(--card-gap) + var(--card-height));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.wrapper > img {
  margin-top: calc(var(--card-height) / 2);
  height: 40px;
  width: 30px;
  display: block;
  position: absolute;
  z-index: 0;
}

.wrapper img:first-child {
  left: calc(var(--card-width) / -4);
}
.wrapper img:last-child {
  right: calc(var(--card-width) / -4);
}

.wrapper__over {
  box-shadow: 0 0 20px var(--border-color);
}

@media (prefers-color-scheme: dark) {
  .wrapper__over {
    box-shadow: 0 0 20px var(--border-color_dark);
  }
}
