.empty {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: calc(var(--border-radius) + 2px);
  cursor: pointer;

  background-color: #377a7a;
  border-radius: 10px;
}

.empty__over {
  background-color: #377a7a;
}
