.table, .outer{
    --top-margin: 55px;
    --left-margin: 55px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

@font-face{
    font-family:'digital-font';
    src: url(./bike-resources/DS-DIGIB.TTF) format('truetype');
}

.table{
    display: grid;
    position: relative;
    margin: var(--top-margin) 0 0 var(--left-margin);
    gap: 0;
    height: 100px;
    mso-cellspacing: 0;
}

.table input {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.cell{
    width: var(--left-margin);
    height: var(--left-margin);
    /*border: 1px solid black;*/
    text-align: center;
    background: #8A8A8A;
    color: #E6E6E6;
    border: none;
}

.cell:nth-child(2n) {
    background: #999999;
}
.cell:nth-child(2n+7) {
   background: #A9A9A9;
}
.cell:nth-child(2n + 8){
    background: #8A8A8A;
}
.cell:nth-child(2n + 13){
    background: #8A8A8A;
}
.cell:nth-child(2n+14){
    background: #999999;
}

.outer{
    position: absolute;
    top: calc(0 - var(--top-margin)); /* */
    left: calc(0 - var(--left-margin));
}

.outer .top{
    position: absolute;
    top: var(--top-margin);

}

.outer .left{
    position: absolute;
    left: var(--left-margin);
    display: flex;
}

.top-panel-cell, .left-panel-cell{
    background-color: white;
    text-align: center;
}

.top-panel-cell, .left-panel-cell{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-panel-cell{
    height: calc(var(--left-margin) + 1px);
    width: var(--left-margin);
}

.left-panel-cell{
    width: var(--left-margin);
    height: var(--left-margin);
}

.cell:focus{
    outline: none;
}

.highlighted-colored {

    background-color: #8EED00 !important;
    color: #666666;
}

.highlighted-semi-colored {
    background-color: #99BA7F !important;
}