.header {
  background-color: #cfbc8a;
  box-shadow: 0 8px 0 0 var(--border-color);
}
.header__wrapper {
  max-width: var(--width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
  padding: 30px 40px;
}
.mapid {
  font-weight: 500;
}
.main {
  padding-top: 35px;
  padding-bottom: 36px;
  background: var(--main-color);
}
