.info {
  color: var(--text-color_dark);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.info__content {
  width: 80px;
  height: 80px;
  height: 100%;
  background-color: var(--border-color_dark);
  border: 6px solid var(--border-color);
  border-radius: var(--border-radius);
  color: white;
  margin-left: 15px;

  text-align: center;
  line-height: 2em;
}
