.bike-speedometer-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #000000;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1px;
    align-items: center;
    outline: 5px solid #000000;
    overflow: hidden;
    font-family: digital-font, serif;
}

.bike-speed-box {
    height: 33%;
    width: 100%;
    background: #E6E6E6;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.blur-mode {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.bike-derailleurs{
    font-weight: 600;
    line-height: 19px;
    text-align: center;
}

.bike-left-box {
    background: #66FFCC;
    width: 50%;
    height: 100%;
}

.bike-right-box {
    background: #6EE2FF;
    width: 50%;
    height: 100%;
}

.inbox-title{
    position: absolute;
    top: 1px;
    left: 7px;
    font-size: 16px;

}

.bike-speed-box section{
    font-size: 56px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.bike-speed-box section * {
    font-size: 20px;
    align-self: flex-end;
    margin-bottom: 10px;
}