@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.action-control {
  margin-top: 14px;
}

.apply-btn-container {
  text-align: center;
}

.apply-btn {
  width: 95%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 2px;
  font-size: 28px;
  background-color: #F6F5F5;
  color: #989898;
  border: 4px solid #989898;
  font-family: "Podkova", serif;
}

.apply-btn:active {
  background-color: white;
}

.undo-redo-btn-container {
  margin-top: 16px;
  text-align: center;
}
