body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.kio-base-box{
    padding: 0;
    margin: 0;
}
#canvas{
    margin: 0;
    padding: 0;
    display: block;
    font-size: 30px;
    //background: url("streams-resources/river_bg_550.jpg");
}
.wrapper{
    position: relative;
    overflow: hidden;
}
.saved_code{
    display: inline-block;
    position: absolute;
    left: -1000px;
}

.saveOk{
    background-color: yellowgreen;
}

.warning{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    padding: 12px;
    //border: 3px solid lightcoral;
    background-color: #FE673C;
    border-radius: 8px;
    font-weight: bold;
    max-width: 470px;
    transition: all 1s ease;
    font-family: Arial, sans-serif;
    color: white;
}
.warning.hidden{
    transition: all 1s ease;
    transform: translateY(-1px);
}
.dark{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
}
.setting_warning{
    position: absolute;
    left: 75%;
    top: 10px;
    transform: translateX(-50%);
    padding: 7px;
    border: 3px solid lightcoral;
    font-weight: bold;
    max-width: 550px;
    transition: transform 0.3s ease;
    font-family: Arial;
    font-size: 11px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
.setting_warning.hidden{
    transform: translateY(-1000px);
}

.hide{
    display: none;
}

.hidden{
    display: none;
}
.buttonWrapper{
    display: grid;
    grid-template-columns: repeat(4, 34px);
    grid-gap: 14px;
    position: absolute;
    bottom: 17px;
    left: 17px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    border-radius: 8px;
    background-color: #8dc63f;
}
.btn:hover{
    background-color: #fbb040;
}
.btn_active{
    background-color: #fbb040;
}
.innerBtn{
    height: 20px;
    width: 20px;
}
#btn_pen .innerBtn{
    background: url("streams-resources/Button_pen.svg") no-repeat top center / cover;
}
#btn_delete .innerBtn{
    background: url("streams-resources/Button_basket.svg") no-repeat top center;
}
#btn_prev .innerBtn{
    background: url("streams-resources/Button_arrow_left.svg") no-repeat top center / cover;
}
#btn_next .innerBtn{
    background: url("streams-resources/Button_arrow_right.svg") no-repeat top center / cover;
}

//.kio-base-info-panel.kio-base-results-info-panel{
//    position: absolute;
//    right: 5px;
//    top: 5px;
//}
//.kio-base-info-panel.kio-base-record-info-panel{
//    position: absolute;
//    right: 5px;
//    top: 5px;
//}
//.kio-base-info-panel.kio-base-results-info-panel, .kio-base-info-panel.kio-base-record-info-panel{
//    box-sizing: border-box;
//    max-width: 170px;
//    overflow: hidden;
//    background: white;
//    color: white;
//    background: rgba(0, 0, 0, 0.5);
//    border: 3px solid #99D9EAFF;
//    padding: 0px 5px;
//}
//.kio-base-info-panel-param-value{
//    margin: 10px;
//    width: auto;
//}
//.kio-base-info-panel-param-name{
//    font-size: 12px;
//}
//.kio-base-info-panel-param-value table{
//    max-width: 150px !important;
//    overflow: hidden;
//}
//
//.kio-base-info-panel table tbody tr{
//    border-bottom: 1px solid black;
//    margin-bottom: 10px;
//    display: block;
//}
//.kio-base-info-panel .kio-base-control-button{
//    padding: 5px;
//    font-size: 12px;
//    //box-shadow: 0 0 0 1px #d3d3d3, 0 0 0 2px #b8b8b8, 0 0 0 3px #9e9e9e, 0 0 0 4px #868686, 0 0 0 5px #696969, 0 0 0 2px #5a5a5a;
//    box-shadow: none !important;
//    background-color: #99D9EAFF;
//    cursor: pointer;
//}
//
//.btn_reset{
//    border: none;
//    background: none;
//}
//
//#btn_save{
//    font-size: 35px;
//    color: #99D9EAFF;
//    position: absolute;
//    top: 5px;
//    left: 5px;
//    transition: all 0.2s ease;
//}
//
//#btn_pen{
//    position: absolute;
//    bottom: 5px;
//    left: 5px;
//    font-size: 30px;
//    cursor: pointer;
//}
//#btn_delete{
//    position: absolute;
//    bottom: 5px;
//    left: 50px;
//    font-size: 30px;
//    cursor: pointer;
//}
//#btn_save:hover{
//    color: red;
//    cursor: pointer;
//}
//
//#btn_award, #btn_info{
//    top: 5px;
//    right: 180px;
//    position: absolute;
//    font-size: 30px;
//    color: #99D9EAFF;
//    transition: all 0.2s ease;
//}
//
//#btn_award:hover, #btn_info:hover{
//    color: red;
//    cursor: pointer;
//}
//
.pen_active{
    color: lightgreen;
}
.del_active{
    color: red;
}
//
//.kio-base-solutions-container{
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    color: white;
//    border: 3px solid #99D9EAFF;
//    padding: 10px;
//    background: rgba(0,0,0, 0.2);
//    text-align: center;
//}
//
//
//.kio-base-solutions-container .title{
//    margin-bottom: 1em;
//}
//
//.kio-base-box{
//    height: 0;
//    padding: 0;
//    margin: 0;
//    box-shadow: none;
//}
//.kio-base-controls-container{
//    height: 0;
//    padding: 0;
//    margin: 0;
//    box-shadow: none;
//}

//#save{
//    position: absolute;
//    z-index: 100;
//    right: 10px;
//    bottom: 10px;
//}
//
//#recover_btn{
//    position: absolute;
//    z-index: 100;
//    right: 10px;
//    bottom: 40px;
//}
//
//#recover_input{
//    position: absolute;
//    z-index: 100;
//    right: 10px;
//    bottom: 70px;
//}

//.kio-base-solutions-container{
//    min-height: 100vh;
//}